
body {
    background-color: black;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 5px;
    padding: 2px;
}

p { 
    font-size: 13pt;
}

btn {
    margin: auto;
}

h2 {
    font-size: 22pt;
}
h3 {
    margin-top: 10px;
    font-size: 18pt;
}
h4 {
    font-size: 16pt;
}

#header {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 28pt;
}

#header a {
    margin: 20px;
}

#page {
    padding: 20px;
    border-radius: 20px;
    background-color: #F8F8F8;
}

#sidebar p {
    text-align: justify;
}

#schedule thead {
    font-size: 12pt;
    text-align: center;
}

.day {
    width: 46%;
}

#schedule tbody tr th, #schedule tbody tr td {
    padding: 0px;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
}
#schedule tbody tr th {
    font-weight: bold;
}

td h3 {
    margin:auto;
    padding: 0px;
    font-size: 13pt;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

td p {
    margin: 0px;
    padding: 0px;
    font-size: 11pt;
    text-align: center;
    vertical-align: middle;
}

td p a {
    color: darkblue;
}

.tutorial { color: #ebac00; }

.talk { color: #8a15ab; }


#projects {
    margin: 5px;
    padding: 0px;
    list-style-type: None;
}
.project {
    margin-bottom: 20px;
}
.project h4 a{
    color: inherit;
}
.project h4 a:hover {
    color: #007bff;
}
.illustration {
    vertical-align: middle;
}
.illustration img {
    border: 4px solid lightGray;
}

span[rel] {
    color: black;
    background-color: #EEE;
}
span[rel]:hover {
    text-decoration: none;
    background-color: #EEEED0;
    cursor: pointer;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

footer {
    color: white;
    text-align: center;
}

footer * {
    float: left;
    margin: auto;
}

